
/*-----------------------   Main Table   -----------------------*/


.evaluation-table{
	border-collapse: collapse;
	border: 0px solid;
	width: 1200px;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 25vh auto;
}
.evaluation-table td{
	font-size: 18px;
	vertical-align: center;
}

.table-button{
	width: 46px;
}

.detail-button{
	text-align: right;
}

