
/*-----------------------   Main Table   -----------------------*/

.tableBlock  th{
	font-size: 22px;
	background-color: #03a8f3;
	color: #ffffff;
	height: 4em;
	font-weight: 500;
	text-align: left;
}

td{
    border-bottom:1px solid black;
}



