body{
	font-family: "Arial", sans-serif;
	position: relative;
  	margin: 0;
  	padding-bottom: 6rem;
 	min-height: 100%;

}



/*----------------  Page header   --------------------*/
.pageHeader{
	font-weight: 400;
	font-size: 24px;
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    box-shadow: 0px 2px 2px #888888;
    min-width: 1200px;
}

.pageHeader li{
	display: inline-block;
}


.pageHeader>li>a{
	display: block;
	color: #414141;
	text-align: center;
	padding: 1vw 3vw;
	text-decoration: none;
}
.right-button{
	float:right;
}
.main-logo{
	height: 35px; 
	vertical-align: middle;
	padding-right: 4vw;
	padding-left: 2vw;
}

.active-page{
	border-style: solid;
	border-width: 0px 0px 5px 0px;
	border-color: #03a8f3;
}


/*-----------------------   Main Table   -----------------------*/


.tableBlock{
	border-collapse: collapse;
	border: 0px solid;
	
	width: 1200px;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	color: #414141;
	margin-top: 25vh;

}
.tableBlock  th{
	font-size: 22px;
	background-color: #03a8f3;
	color: #ffffff;
	height: 4em;
	font-weight: 500;
	text-align: left;
}

.table-button{
	width: 46px;
}

}
.tableBlock td{
	font-size: 18px;
	vertical-align: center;
}

td{
  border-bottom:1px solid black;
}

.detail-button{
	text-align: right;
}

.BottomFooter{
	bottom:0;
    position:fixed;
    z-index:150;
    _position:absolute;
    _top:expression(eval(document.documentElement.scrollTop+
        (document.documentElement.clientHeight-this.offsetHeight)));
    height:35px;
  	width:100%;  
  	background-color: #dfdfdf; 
  	text-align: center; 
  	vertical-align: center; 
  	padding-bottom: 1em;
  	color:#828384;
}
