.grid{
  width: 1200px;
  display: flex;
  margin:0 auto;
  height: 600px;
}
.login-form{
  align-self: center;
}

.formBox{
	width: 100%;
  height: 640px;
  display: block;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.pageHeader{
  position: relative;
  background: url(feedback-banner.jpg) center center no-repeat;
  background-size: cover;
  height: 600px;
  width: 100%;

}
.InfoBox{
  position: relative;
  width: 33%;
  align-self: center;
}
.info-box-header{
  border-bottom: 1px #888888;
  font-weight: 400;
  background-color: #03a8f3;
  color: #ffffff;
  line-height: 2em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;

}
.loggin{
  background: #ffffff;
  line-height: 4em;
  text-align: center;
}
.loggin input{
  width: 85%;
  padding: 0;
  border:0;
  box-shadow: 0px 1px 0px #888888;
  height: 1.5em;
}

.loggin button{
  font-size: 16px;
  color: #ffffff;
  background-color:#03a8f3;
  border:0;
  padding: 0.25em 2em;
  box-shadow:0px 10px 5px #888888;
}

.grid-text{
  width:66%;
  display: inline-block;
}
.grid-image{
  width: 33%;
  display: inline-block;
}
.grid-image img{
  width: 100%;
}
.grid-text-content{
  padding:50px 100px 0px 100px;
  word-wrap:break-word;
}
.grid-text-padding{
  margin-left: 100px;
}

.header-shadow{
  box-shadow: 0px 10px 50px black;
}

#special-color{
  background-color: #F6F5F5;
  width: 100%;
  height: 600px;
}


/*-----------------   Footer -----------------*/

.BottomFooter{
  bottom:0;
  position:fixed;
  z-index:150;
  _position:absolute;
  _top:expression(eval(document.documentElement.scrollTop+
      (document.documentElement.clientHeight-this.offsetHeight)));
  height:35px;
  width:100%;  
  background-color: #dfdfdf; 
  text-align: center; 
  vertical-align: center; 
  padding-bottom: 1em;
  color:#828384;
}