body{
	font-family: "Arial", sans-serif;
	position: relative;
  	margin: 0;
  	padding-bottom: 6rem;
  	min-height: 100%;
}

h3{
	padding-left: 30px;
	color:#03a8f3;
	margin-bottom: 0;
	margin-top: 2em;
}

/*----------------  Page header   --------------------*/

.pageHeader{
	font-weight: 400;
	font-size: 24px;
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    box-shadow: 0px 2px 2px #888888;
    min-width: 1200px;
}

.pageHeader li{
	display: inline-block;
}


.pageHeader>li>a{
	display: block;
	color: #414141;
	text-align: center;
	padding: 1vw 3vw;
	text-decoration: none;
}
.right-button{
	float:right;
}
.main-logo{
	height: 35px; 
	vertical-align: middle;
	padding-right: 4vw;
	padding-left: 2vw;
}

.active-page{
	border-style: solid;
	border-width: 0px 0px 5px 0px;
	border-color: #03a8f3;
}


/*-----------------------   Main Table   -----------------------*/

.mainBlock{
	width:1200px;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

/*-------------- Input Candidate -----------------*/

.candidate-input-box{
	margin-top: 25vh;
}

.input-candidate{
	width:33%;
	border: 0;
	padding: 0;
	vertical-align: middle;
	height: 2em;
}
.input-candidate::placeholder{
	border-bottom: 1px solid lightgrey;
}


/*---------------- Radio Input Box -----------------------*/
.radio-boxes{
	margin-top: 10vh;
}

#extra{
	width: 22px;
	float: left;
	background-color: #03a8f3;
}
.top-list-radio{
	list-style-type: none;
	margin-top:0;
	margin-bottom: 0;
	padding-left: 0;
	color:white;
}
.top-list-radio li{
	background-color: #03a8f3;
	height: 4em;
	line-height: 4em;
	vertical-align: middle;

}
.down-list-radio{
	list-style-type: none;
	margin-top:0;
	padding:10px 0px 10px 0px;
	margin-bottom: 0;
	border:1px solid black;
}
.down-list-radio li{
	padding-right:10px;
	float:left;
}

#placeHolder{
	width: 50px;
	float: left;
}
#RR1{

	width: 13%;
	float: left;
	padding-left: 60px;
}
.spacer{
	width: 20%;
}

.clearfix{
	clear:both;
}
#R1{
	width: 16%;
	float: left;
}
.R2{
	width: 26%;
	float: left;

}

/*---------------------- TextArea Box---------------------------*/

.user-textarea textarea{
	width:100%;
	height: 100px;
}



/*------------------- Legend Box ------------------*/
.legend-box legend{
	color:#03a8f3;
	font-size: 18px;
	font-weight: 500;
	padding-left: 1em;
	padding-right: 1em;
}

.legend-box li{
	float:left;
	width: 33%;
	padding-bottom: 10px;
}
.legend-box select{
	width: 40%;
	padding: 3px;
}
.legend-box label{
	display: inline-block;
	width: 49%;
}

.legend-box{
	margin-top: 10vh;
}



/*------- Submit button --------*/

.submit-button{
	margin-top: 10vh;
	margin-bottom: 20vh;
}


input[type=submit]{
	border:0;
	font-size:40px;
	padding: 10px 20px 10px 20px;
	background-color: #03a8f3;
	color:white;
	font-weight: 50;
	float: right;
	box-shadow: 5px 5px 5px #888888;
}





/*-----------------   Footer -----------------*/


.BottomFooter{
	bottom:0;
    position:fixed;
    z-index:150;
    _position:absolute;
    _top:expression(eval(document.documentElement.scrollTop+
        (document.documentElement.clientHeight-this.offsetHeight)));
    height:35px;
  	width:100%;  background-color: #dfdfdf; text-align: center; vertical-align: center; padding-bottom: 1em;
  	color:#828384;
}